/* Shared styles for both actors and genres components */
h2 {
  text-align: center;
  margin-bottom: 20px;
}

.actor-controls,
.genre-controls {
  display: flex;
  justify-content: space-between;
  /* Aligns items to the start and end of the container */
  align-items: center;
  margin-bottom: 20px;
  padding: 0 20px;
  /* Adds padding to the left and right */
}

.actor-controls input[type="text"],
.genre-controls input[type="text"] {
  flex-grow: 1;
  /* Allows input to grow and fill available space */
  margin-right: 10px;
  /* Adds space between the input and the button */
  padding: 10px;
  margin-bottom: 10px;
  margin-right: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: calc(85% - 110px);
}

/* List styles */
ul.actors,
ul.genres {
  list-style-type: none;
  padding: 0;
  /* Removes default padding */
  margin: 0 20px;
  /* Adds margin to the left and right */
}

ul.actors li,
ul.genres li {
  background: #f9f9f9;
  border: 1px solid #ddd;
  padding: 8px 16px;
  margin-bottom: 5px;
  margin-right: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 16px;
}

/* Button styles */
button {
  padding: 10px 16px;
  margin-right: 8px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #009879;
  color: white;
  transition: background-color 0.2s ease;
}

button.delete {
  background-color: #d9534f;
}

button.btn-back {
  padding: 10px 16px;
  border: none;
  border-radius: 5px;
  background-color: #4c5358;
  /* Bootstrap secondary button color for 'back' buttons */
  color: white;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.validation-messages {
  color: red;
  font-size: 0.85em;
  margin-left: 20px;
}

/* Responsive adjustments */
@media (max-width: 400px) {

  .actor-controls,
  .genre-controls {
    flex-direction: column;
    /* Stacks items vertically on small screens */
    padding: 0 10px;
    /* Adjusts padding for smaller screens */
  }

  .actor-controls input[type="text"],
  .genre-controls input[type="text"] {
    width: 100%;
    /* Full width on small screens */
    margin-bottom: 10px;
    /* Adds space below the input */
  }

  ul.actors,
  ul.genres {
    margin: 0 10px;
    /* Adjusts margin for smaller screens */
  }
}