<h2>Movies List</h2>
<div class="header-controls">
  <button (click)="addMovie()" class="addMovie">Add Movie</button>
  <button (click)="addActor()" class="actors">Actors</button>
  <button (click)="addGenre()" class="genres">Genres</button>
  <div class="search-bar">
    <input type="text" [(ngModel)]="searchTerm" placeholder="Search movies and actors..." />
    <button (click)="searchMovies()">Search</button>
  </div>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Release Year</th>
      <th>Genres</th>
      <th>Actors</th>
      <th>Director</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let movie of movies">
        <td class="title">{{ movie.title }}</td>
        <td class="releaseYear">{{ movie.releaseYear }}</td>
        <td class="genreNames">{{ movie.genreNames }}</td>
        <td class="actorNames">{{ movie.actorNames }}</td>
        <td class="directorName">{{ movie.directorName }}</td>
      <td class="actions">
        <button (click)="updateMovie(movie.id)" class="update">Update</button>
        <button (click)="deleteMovie(movie.id)" class="delete">Delete</button>
      </td>
    </tr>
  </tbody>
  <div class="pagination-controls">
    <button (click)="onPageChange(currentPage - 1)" [disabled]="currentPage === 0">Previous</button>
  
    <!-- Dynamically generate page number buttons -->
    <ng-container *ngFor="let page of getPages(totalItems, pageSize); let i = index">
      <div class="page-number" [class.active]="i === currentPage">
        <button (click)="onPageChange(i)">{{ i + 1 }}</button>
      </div>
    </ng-container>
  
    <button (click)="onPageChange(currentPage + 1)" [disabled]="currentPage >= (totalItems / pageSize) - 1">Next</button>
  </div>
</table>
