<h2>Movies List</h2>
<td class="options">
  <button (click)="addMovie()" class="addMovie">Add Movie</button>
  <button (click)="addActor()" class="actors">Actors</button>
  <button (click)="addGenre()" class="genres">Genres</button>
</td>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Release Year</th>
      <th>Genres</th>
      <th>Actors</th>
      <th>Director</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let movie of movies">
        <td class="title">{{ movie.title }}</td>
        <td class="releaseYear">{{ movie.releaseYear }}</td>
        <td class="genreNames">{{ movie.genreNames }}</td>
        <td class="actorNames">{{ movie.actorNames }}</td>
        <td class="directorName">{{ movie.directorName }}</td>
      <td class="actions">
        <button (click)="updateMovie(movie.id)" class="update">Update</button>
        <button (click)="deleteMovie(movie.id)" class="delete">Delete</button>
      </td>
    </tr>
  </tbody>
</table>